@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "sunflower";
  src: url("./assets/sunflower.ttf");
}

#root {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: white;
  place-items: center;
  min-width: 320px;
  height: fit-content;
  font-family: "sunflower", sans-serif;
  /* scrollbar; */
  letter-spacing: 0.7px;
}

button {
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    transform: scale(1.03);
  }
}

/* Style scroolbar */

*::-webkit-scrollbar {
  width: 0;
}
